@model PruebaTecnicaCoppel.Models.Employee;


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Employee";
}
<link rel="stylesheet" href="~/css/MovesEmployeeCreate.css" type="text/css" />
@using (Html.BeginForm())
{
    <div class="container">
        @if (TempData["Error"] != null)
        {
            <p class="alert alert-danger" id="errorMessage">@TempData["Error"]</p>
        }
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(Model => Model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            @Html.LabelFor(Model => Model.EmployeeNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.EmployeeNumber, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            @Html.LabelFor(Model => Model.EmployeeNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <ul>
                    <li>
                        <label for="cbDriver">Driver</label>
                        <input type="radio" id="cbDriver" name="occupations" value="1" onchange="changeOccupation()" checked>
                    </li>
                    <li>
                        <label for="cbDriver">Charger</label>
                        <input type="radio" id="cbCharger" name="occupations" value="2" onchange="changeOccupation()">
                    </li>
                    <li>
                        <label for="cbDriver">Assistant</label>
                        <input type="radio" id="cbAssistant" name="occupations" value="3" onchange="changeOccupation()">
                    </li>
                </ul>

            </div>
            <div style="display:none">
                @Html.EditorFor(Model => Model.role, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-success" value="Create!" />
                </div>
            </div>
        </div>
    </div>
}
<script>
    /*
        NOTA: Lo ideal es llevar el javascript a otro archivo, para efectos practicos lo deje aqui pero para llevarlo a otro archivo
        click derecho crear nuevo elemento-> js file-> le pones el mismo nombre del html al que correspondera el js
    */
    document.addEventListener('DOMContentLoaded', function () {
        //SE ASIGNA EL VALOR YA QUE CUANDO SE INGRESA A LA PAGINA NO SE ACTIVA EL ONCHANGE DE MANERA AUTOMATICA
        document.getElementById("role").value=1;

    }, false);
    function changeOccupation(){
        const radioButtons = document.getElementsByName("occupations");
        radioButtons.forEach(function (button) {
            if (button.checked) {
                document.getElementById("role").value = button.value;
            }
        });
    }
</script>
